* {
    padding: 0;
    margin: 0;
    border: none;
    color: gray;

}

body {
    background-color: #e1e1e1;
    height: 100dvh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background: white;
    padding: 20px 40px;
    border: 1px solid black;
}
.hidden {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    display: none;
}
.show {
    display: flex;
}
.content div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.content div h2 {
    background-color: white;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: black;

}
.content div p {
    font-weight: bold;
}













